.center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
}

table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 20px;
}

th,td{
    border: 1px solid#ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

