
.center {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
}

.addBorder {
    border: 1px solid #000;
    padding: 10px;
}

table {
    border-collapse: collapse;
    flex: 1;
    margin: 10px;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
    display: block;
    width: 100%;
    box-sizing: border-box;
}


th {
    background-color: #f2f2f2;
}

.moveCheckOutFormula {
    margin-top: -20%;
}