<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Johannes Fog - Prototype startside</title>
  <link href="../public/css/Header.css" th:href="@{/css/Header.css}" rel="stylesheet">
</head>
<body>
<div id="mainMenu" class="center">
  <a href="/editMaterial"><button>Edit Materials</button></a>
  <a href="/submitOrderID"><button>Edit Orders</button></a>
</div>
<br>
<form action="/backToIndex" method="post" class="center">
  <button type="submit" name="backToIndex">back to start.</button>
</form>
</body>
</html>