<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="da">
<head>
  <title>Testpage</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <div class="order_chosen" th:unless="${session.bill_of_materials == null}">
        <h1>Edit the bill of material:</h1>
        <p th:if="${message != null}" th:text="${message}"></p>
        <form action="/submitEditedBillOfMaterial" method="post" onchange="this.form.submit()">
            <table id="bill_of_material_table">
                <tr class="tableHeader">
                    <th>Material ID</th>
                    <th>Material Variant ID</th>
                    <th>Material Name:</th>
                    <th>Material Type:</th>
                    <th>Material Length:</th>
                    <th>Material Quantity:</th>
                    <th>Material Notice</th>
                </tr>
                <tr th:each="material, i :  ${session.bill_of_materials}">
                    <td th:text="${material.getMaterialId()}">No info</td>
                    <td th:text="${material.getMaterialVariantID()}">No info</td>
                    <td th:text="${material.getName()}">No info</td>
                    <td th:text="${material.getType()}">No info</td>
                    <td th:text="${material.getLength()}">No info</td>
                    <td>
                        <input type="number" id="newAmount" th:name="'newAmount_' + ${i.index}" th:value="${material.getAmount()}"/>
                    </td><!--
                    <td>
                        <input type="text" id="newNotice" th:name="'newNotice_' + ${i.index}" th:value="${material.getDescription()}"/>
                    </td>-->
                    <td>
                        <button type="submit" name="material_input" th:value="'save_'+${i.index}" th:id="'Material_'+ ${i.index}">Save Changes</button>
                    </td>
                    <td>
                        <button type="submit" name="material_input" th:value="'delete_'+${i.index}" th:id="'Material_'+ ${i.index}">Delete Material</button>
                    </td>
                </tr>
            </table>
        </form>
        <br>
        <form th:action="@{/saveBillOfMaterial}" method="post">
            <button type="submit" name="save_BillOfMaterial">save bill of material to Order</button>
        </form>
        <br>
        <form th:action="@{/generateBillOfMaterial}" method="post">
            <button type="submit" name="generate_BillOfMaterial">Generate bill of material</button>
        </form>
        <br>
        <form th:action="@{/back_to_order}" method="post">
            <button type="submit" name="show_BillOfMaterial">Go Back To Order</button>
        </form>
        <div class="order_chosen" th:unless="${session.material_list == null}">
            <h1>Choose a material to add to the bill of material</h1>
            <form action="/addMaterialToBilOfMaterial" method="post" onchange="this.form.submit()">
                <table id="material_table">
                    <tr class="tableHeader">
                        <th>Material ID</th>
                        <th>Material Variant ID</th>
                        <th>Material Name:</th>
                        <th>Material Type:</th>
                        <th>Material Length:</th>
                    </tr>
                    <tr th:each="material, i :  ${session.material_list}">
                        <td th:text="${material.getMaterialId()}">No info</td>
                        <td th:text="${material.getMaterialVariantID()}">No info</td>
                        <td th:text="${material.getName()}">No info</td>
                        <td th:text="${material.getType()}">No info</td>
                        <td th:text="${material.getLength()}">No info</td>
                        <td>
                            <button type="submit" name="selected_material_input" th:value="${i.index}" th:id="'Material_'+ ${i.index}">add material to bill of material</button>
                        </td>
                    </tr>
                </table>
            </form>
        </div>
    </div>
    <div th:if="${session.bill_of_materials == null}">
    <h1>There is no Bill of Material information right now, generate one?</h1>
        <form th:action="@{/getBillOfMaterialByOrderID}" method="post">
            <label for="orderID_input">Enter Order ID:</label>
            <input type="number" id="orderID_input" name="orderID_input"/>
            <button type="submit">Get Bill Of Material for current order</button>
        </form>
        <br>
        <form th:action="@{/back_to_order}" method="post">
        <button type="submit" name="show_BillOfMaterial">Go Back</button>
    </form>
    </div>
    <div th:if="${session.svg}" th:utext="${session.svg}"></div>
</body>
</html>