<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="da">
<head>
  <title>Testpage</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <div class="order_chosen" th:unless="${session.bill_of_materials == null}">
        <h1>Edit the bill of material:</h1>
        <form action="/submitEditedBillOfMaterial" method="post" onchange="this.form.submit()">
            <table id="material_table">
                <tr class="tableHeader">
                    <th>Material ID</th>
                    <th>Material Name:</th>
                    <th>Material quantity:</th>
                </tr>
                <tr th:each="material, i :  ${session.bill_of_materials}">
                    <td th:text="${material.getName}">No info</td>
                    <td th:text="${material.getType}">No info</td>
                    <td>
                        <input type="number" id="newAmount" name="new_amount_input" th:value="${material.getAmount}"/>
                    </td>
                    <td>
                        <button type="submit" name="material_input" th:value="${material.getMaterialVariantID}" th:id="'Material_'+ ${i.index}">Save Bill Of Material</button>
                    </td>
                </tr>
            </table>
        </form>
    </div>
    <div th:if="${session.bill_of_materials == null}">
    <h1>There is no Bill of Material information right now, enter ID for the order you want to see a Bill Of Material</h1>
    <form th:action="@{/back_to_order}" method="post">
        <button type="submit" name="show_BillOfMaterial">Go Back</button>
    </form>
    </div>
</body>
</html>