<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Checkout - Johannes Fog</title>
    <link rel="stylesheet" href="../public/css/checkOutCss.css" th:href="@{/css/checkOutCss.css}">
    <link rel="stylesheet" href="../public/css/adminSite.css" th:href="@{/css/adminSite.css}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="../public/image/foglogo.png" th:href="@{/image/foglogo.png}">
</head>
<body>

<div class="topnav">
    <a href="/backToIndex">
        <img id="logo" src="../public/image/foglogo.png" th:src="@{/image/foglogo.png}">
    </a>
    <a class="navLink" href="/backToIndex">Home</a>
    <a class="navLink active" href="/customCarport/1">Build a Carport</a>
    <a class="navLink" href="/login">Admin</a>
</div>

<div name="detailThing" class="center">
    <table>
        <tr>
            <th>Carport Detail:</th>
        </tr>
        <tr>
            <td>Længde: <span th:text="${session.current_order.getLengthCm()}"></span></td>
        </tr>
        <tr>
            <td>Bredde: <span th:text="${session.current_order.getWidthCm()}"> </span></td>
        </tr>
        <tr>
            <td>Skur længde: <span th:text="${session.current_order.getShedLengthCm()}"></span></td>
        </tr>
        <tr>
            <td>Skur bredde: <span th:text="${session.current_order.getShedWidthCm()}"></span></td>
        </tr>
        <tr>
            <td>Tag hældning i grader (hvis valgt ellers automatisk 0): <span
                    th:text="${session.current_order.getSlopeDegrees()}"></span></td>
        </tr>
    </table>
    <table>
        <tr>
            <th>User:</th>
            </th>
        </tr>
        <tr>
            <td>Navn: <span th:text="${session.current_order.getName()}"></span></td>
        </tr>
        <tr>
            <td>
                Email: <span th:text="${session.current_order.getEmail()}"></span>
            </td>
        </tr>
    </table>
</div>

<form name="finalGokuForm" method="post" action="/receipt">
    <div id="checkOutFormula" class="center moveCheckOutFormula">
        <div id="theWhiteBox">
            <div id="textHolderDiv" class="addBorder">
                <p>Tak for at bestille din carport hos os!</p>
                <p>Vores sælgere vil tage kontakt til dem, når en pris er blevet beregnet </p>
                <p>Tryk her for at sige ja til at vi samler carporten for dig </p>
            </div>


            <div id="checkBoxForAssmbler">
                <input type="checkbox" name="assembleCarport" value="true">
            </div>
            <div id="buttonHolder">
                <!--sends the data to the db itself-->
                <input type="submit" value="næste">
            </div>
        </div>
    </div>
</form>


</body>
</html>
