<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    <p> Kontaktoplysninger:</p>
    <form method="post" name="contactDetail">
        <div name="contact_form_thing">
            <div name="nameBox">
                <input type="text" placeholder="navn">
            </div>
            <div name="adressBox">
                <input type="text" placeholder="adresse">
            </div>
            <div>
                <input type="number" placeholder="postnummer">
            </div>
            <div>
                <input type="text" placeholder="by">
            </div>

            <div>
                <input type="text" placeholder="telefon">
            </div>
            <div>
                <input type="text" placeholder="email">
            </div>
            <input type="submit" name="contactDetails" value="næste">
        </div>
    </form>

</body>
</html>