<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    <p> Kontaktoplysninger:</p>
    <form method="post" id="costumerDetail" action="/receipt">
        <div name="contact_form_thing">
            <div name="nameBox">
                <input type="text" placeholder="navn" name="costumer_name">
            </div>
            <div>
                <input type="text" placeholder="email" name="user_email">
            </div>
            <input type="submit" value="næste" >
        </div>
    </form>

</body>
</html>