<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>make your damn carport</title>
    <link rel="stylesheet" href="../public/css/CostumCarportCss.css" th:href="@{/css/CostumCarportCss.css}">
</head>
<body>
    <div>
        <p>
            Bestil quick tilbud.
        </p>
    </div>
    <div>
        <p>
            Med et specialudviklit computerprogram kan vi lynhurtigt beregne presen og udskrive en skitsetegning på en carport indenfor vores standardprogram.
            Tilbud og skitsetegning fremsendes med post hurtigst muligt. Ved bestilling medfølger standardbyggevejledning.
        </p>
    </div>

    <form method="post" id="carportWithNormalRoof"  action="/costumerDetail">
        <div name = "form_flat_roof " class="center">
            <div name = "width">
                <p>brædde</p>

                <select name="width_option" class="increaseSelectSize"> <!--th:if="${width_option!=null}" th:each="widthOption"-->
                    <option value="240">
                        240
                    </option>
                    <option value="270">
                        270
                    </option>
                    <option value="300">
                        300
                    </option>
                    <option value="330">
                        330
                    </option>
                    <option value="360">
                        360
                    </option>
                    <option value="390">
                        390
                    </option>
                    <option value="420">
                        420
                    </option>
                    <option value="450">
                        450
                    </option>
                    <option value="480">
                        480
                    </option>
                    <option value="510">
                        510
                    </option>
                    <option value="540">
                        540
                    </option>
                    <option value="570">
                        570
                    </option>
                    <option value="600">
                        600
                    </option>

                </select>
            </div>
        <div name = "length">
            <p>længde</p>
            <select name="length_options" class="increaseSelectSize"> <!--th:if="${length_options!=null}" th:each="lengthOption"-->
            <option value="240">
                240
            </option>
            <option value="270">
                270
            </option>
            <option value="300">
                300
            </option>
            <option value="330">
                330
            </option>
            <option value="360">
                360
            </option>
            <option value="390">
                390
            </option>
            <option value="420">
                420
            </option>
            <option value="450">
                450
            </option>
            <option value="480">
                480
            </option>
            <option value="510">
                510
            </option>
            <option value="540">
                540
            </option>
            <option value="570">
                570
            </option>
            <option value="600">
                600
            </option>
            </select>
        </div>
        <div name = "roof_type">
            <p>vælg tagtype</p>
            <select name="chosen_roof" class="increaseSelectSize400">
                <option value="'uden tagtyper'">
                    uden tagtyper
                </option>
                <option value="'med trapeztagtyper'">
                    med trapeztagtyper
                </option>
            </select>
        </div>
        <div name="roof_slope" th:if="${session.roof_type == true}"><!---->
            <p>tag hældning</p>
            <select name="slope_options" th:value="${0}" class="increaseSelectSize">
                <option value="0">0</option>
                <option value="1">1</option>
                <option  value="2">2</option>
                <option  value="3">3</option>
                <option  value="4">4</option>
                <option  value="5">5</option>
                <option  value="6">6</option>
            </select>
        </div>
        <div name="short_description">
            <p>Redskabsrum</p><br>
            <p>NB! Der skal beregnes 15 cm tagudhæng på hver side af redskabsrummet!*</p>
        </div>
        <div name="shed_width">
            <p>skur bredde</p>
            <select name="shed_width_option" class="increaseSelectSize">
                <option value="240">
                    240
                </option>
                <option value="270">
                    270
                </option>
                <option value="300">
                    300
                </option>
                <option value="330">
                    330
                </option>
                <option value="360">
                    360
                </option>
                <option value="390">
                    390
                </option>
                <option value="420">
                    420
                </option>
                <option value="450">
                    450
                </option>
                <option value="480">
                    480
                </option>
                <option value="510">
                    510
                </option>
                <option value="540">
                    540
                </option>
                <option value="570">
                    570
                </option>
                <option value="600">
                    600
                </option>
            </select>
        </div>
        <div name="shed_length">
            <p>skur længde</p>

            <select name="shed_length_options" class="increaseSelectSize">
                <option value="240">
                    240
                </option>
                <option value="270">
                    270
                </option>
                <option value="300">
                    300
                </option>
                <option value="330">
                    330
                </option>
                <option value="360">
                    360
                </option>
                <option value="390">
                    390
                </option>
                <option value="420">
                    420
                </option>
                <option value="450">
                    450
                </option>
                <option value="480">
                    480
                </option>
                <option value="510">
                    510
                </option>
                <option value="540">
                    540
                </option>
                <option value="570">
                    570
                </option>
                <option value="600">
                    600
                </option>
            </select>
        </div>


        <div name="special_wishes_or_notices">
            <p>
                Evt. bemærkning/Særlige ønsker
                </p>
                <div>
                    <input type="text" name="wish_changes_text">
                </div>
            </div>
            <div name = "nextButton">

                <input type="submit" value="next">
            </div>
        </div>
    </form>


</body>
</html>