<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Custom Carport - Johannes Fog</title>
  <link href="../public/css/Header.css" th:href="@{/css/Header.css}" rel="stylesheet">
  <link rel="stylesheet" href="../public/css/adminSite.css" th:href="@{/css/adminSite.css}">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/x-icon" href="../public/image/foglogo.png" th:href="@{/image/foglogo.png}">

</head>
<body>

<div class="topnav">
  <a href="/backToIndex">
    <img id="logo" src="../public/image/foglogo.png" th:src="@{/image/foglogo.png}">
  </a>
  <a class="navLink" href="/backToIndex">Home</a>
  <a class="navLink active" href="/customCarport/1">Build a Carport</a>
  <a class="navLink" href="/login">Admin</a>
</div>

<div id="mainMenu" class="center">
  <div id="mainForm">
    <div id="textThingy"><p class="fontTypeforText">Vælg en carports type i egne mål:</p></div>

    <div id="formChoice">
      <div name="button1">
        <a href="/customCarport/flat">
          <button type="submit" class="sizeIncrease buttons">tag
            uden hældning
          </button>
        </a>
      </div>
      <div name="button2">
        <a href="/customCarport/inclined">
          <button type="submit" class="sizeIncrease buttons">tag med
            hældning
          </button>
        </a>
      </div>
      <!--færdiglavet carport link her--> <!-- Christian hvad betyder det her????! -->
    </div>

  </div>
</div>


</body>
</html>