<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link href="../public/css/Header.css" th:href="@{/css/Header.css}" rel="stylesheet">


</head>
<body>


<div id="mainMenu" class="center">
  <div id="mainForm">
    <div id="textThingy"><p class="fontTypeforText">Vælg en carports type i egne mål:</p></div>

    <div id="formChoice">
      <div name="button1">
        <a href="/customCarport/flat">
          <button type="submit" class="sizeIncrease buttons">tag
            uden hældning
          </button>
        </a>
      </div>
      <div name="button2">
        <a href="/customCarport/inclined">
          <button type="submit" class="sizeIncrease buttons">tag med
            hældning
          </button>
        </a>
      </div>
      <!--færdiglavet carport link her--> <!-- Christian hvad betyder det her????! -->
    </div>

  </div>
</div>


</body>
</html>