<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link href="../public/css/Header.css" th:href="@{/css/Header.css}" rel="stylesheet">


</head>
<body>


<div id="mainMenu" class="center">
  <p>
    <span th:unless="${error_path == null}">Sorry but an error has occurred at "<span th:text="${error_path}"></span>"<br/></span>
    <span th:unless="${error_function == null}">The function that caused the error was "<span th:text="${error_function}"></span>"<br/></span>
    We'll do our best to fix the problem.

    <span th:if="${error_message}">Error message:<span th:text="${error_message}"></span></span>
  </p>
</div>
<br>
<br>
<form th:action="@{/backToIndex}" method="post">
  <button type="submit" name="backToIndex">back to start.</button>
</form>

</body>
</html>