<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>


  <div id="mainMenu">
    <div id="mainForm">
      <!--th:action="@{/costumCarport}"-->
      <div id = "formChoice">
          <form id="submitForFlat"  th:action="@{/costumCarport}" method="post">
              <input type="submit" name="inclined" th:value="carport_without_incline">
          </form>
          <form id ="submitForInclined"  th:action="@{/costumCarport}" method="post">
              <input type="submit" name="inclined" th:value="carport_with_incline" >
          </form>

          <!--færdiglavet carport link her-->
      </div>

    </div>
  </div>


</body>
</html>