<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
/*congrats you did it is a routing side and doesn't actually do anything except for "activating" the form*/
<form method="post" action="/congratsYouDidIt">
    <div id="someText">
        <p>her er dine ordre so far</p>
    </div>

    <div id="simpleText">
        <p>hej klig her om du vil have vi sætter det op for dig</p>
    </div>
    <div id="checkBoxy">
        <input type="checkbox" name="assembler">
    </div>
    <input type="submit">

</form>
/*sends all the data further to checkout*/
<button type="submit" action="/congratsYouDidIt" name="john">et eller andet der</button>


</body>
</html>