<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    <form method="post" action="/congratsYouDidIt">

        <div id="simpleText">
            <p>hej klig her om du vil have vi sætter det op for dig</p>
        </div>
        <div id="checkBoxy">
            <input type="checkbox" name="assembler">
        </div>
        <input type="submit">

    </form>
    <button type="submit" action="/congratsYouDidIt" name="john">et eller andet der</button>


</body>
</html>