<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="da">
<head>
  <title>Testpage</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
<div>
  <svg width='465.0' height='365.0'>
    <line x1='60.0' y1='20.0' x2='460.0' y2='20.0' style='stroke:black; stroke-width:1.0;'/>
    <polyline points='70.0,15.0 60.0,20.0 70.0,25.0' fill='black' stroke='black'/>
    <polyline points='450.0,15.0 460.0,20.0 450.0,25.0' fill='black' stroke='black'/>
    <line x1='60.0' y1='60.0' x2='60.0' y2='20.0' style='stroke:green; stroke-width:1.0;opacity:0.5;'/>
    <line x1='460.0' y1='60.0' x2='460.0' y2='20.0' style='stroke:green; stroke-width:1.0;opacity:0.5;'/>
    <text x='260.0' y='18.0' dominant-baseline='text-after-edge' text-anchor='middle' style='font-size:1em; fill:black;'>4,00</text>
    <line x1='20.0' y1='60.0' x2='20.0' y2='360.0' style='stroke:black; stroke-width:1.0;'/>
    <polyline points='20.0,60.0 25.0,70.0 15.0,70.0' fill='black' stroke='black'/>
    <polyline points='15.0,350.0 25.0,350.0 20.0,360.0' fill='black' stroke='black'/>
    <line x1='60.0' y1='60.0' x2='20.0' y2='60.0' style='stroke:green; stroke-width:1.0;opacity:0.5;'/>
    <line x1='60.0' y1='360.0' x2='20.0' y2='360.0' style='stroke:green; stroke-width:1.0;opacity:0.5;'/>
    <text x='18.0' y='210.0' dominant-baseline='middle' text-anchor='end' style='font-size:1em; fill:black;'>3,00</text>
    <line x1='60.0' y1='50.0' x2='160.0' y2='50.0' style='stroke:black; stroke-width:1.0;'/>
    <polyline points='70.0,45.0 60.0,50.0 70.0,55.0' fill='black' stroke='black'/>
    <polyline points='150.0,45.0 160.0,50.0 150.0,55.0' fill='black' stroke='black'/>
    <line x1='60.0' y1='60.0' x2='60.0' y2='50.0' style='stroke:green; stroke-width:1.0;opacity:0.5;'/>
    <line x1='160.0' y1='60.0' x2='160.0' y2='50.0' style='stroke:green; stroke-width:1.0;opacity:0.5;'/>
    <text x='110.0' y='48.0' dominant-baseline='text-after-edge' text-anchor='middle' style='font-size:1em; fill:black;'>1,00</text>
    <line x1='50.0' y1='60.0' x2='50.0' y2='95.0' style='stroke:black; stroke-width:1.0;'/>
    <polyline points='50.0,60.0 55.0,70.0 45.0,70.0' fill='black' stroke='black'/>
    <polyline points='45.0,85.0 55.0,85.0 50.0,95.0' fill='black' stroke='black'/>
    <line x1='60.0' y1='60.0' x2='50.0' y2='60.0' style='stroke:green; stroke-width:1.0;opacity:0.5;'/>
    <line x1='60.0' y1='95.0' x2='50.0' y2='95.0' style='stroke:green; stroke-width:1.0;opacity:0.5;'/>
    <text x='48.0' y='77.5' dominant-baseline='middle' text-anchor='end' style='font-size:1em; fill:black;'>0,35</text>
    <line x1='430.0' y1='50.0' x2='460.0' y2='50.0' style='stroke:black; stroke-width:1.0;'/>
    <polyline points='440.0,45.0 430.0,50.0 440.0,55.0' fill='black' stroke='black'/>
    <polyline points='450.0,45.0 460.0,50.0 450.0,55.0' fill='black' stroke='black'/>
    <line x1='430.0' y1='60.0' x2='430.0' y2='50.0' style='stroke:green; stroke-width:1.0;opacity:0.5;'/>
    <line x1='460.0' y1='60.0' x2='460.0' y2='50.0' style='stroke:green; stroke-width:1.0;opacity:0.5;'/>
    <text x='445.0' y='48.0' dominant-baseline='text-after-edge' text-anchor='middle' style='font-size:1em; fill:black;'>0,30</text>
    <line x1='50.0' y1='325.0' x2='50.0' y2='360.0' style='stroke:black; stroke-width:1.0;'/>
    <polyline points='50.0,325.0 55.0,335.0 45.0,335.0' fill='black' stroke='black'/>
    <polyline points='45.0,350.0 55.0,350.0 50.0,360.0' fill='black' stroke='black'/>
    <line x1='60.0' y1='325.0' x2='50.0' y2='325.0' style='stroke:green; stroke-width:1.0;opacity:0.5;'/>
    <line x1='60.0' y1='360.0' x2='50.0' y2='360.0' style='stroke:green; stroke-width:1.0;opacity:0.5;'/>
    <text x='48.0' y='342.5' dominant-baseline='middle' text-anchor='end' style='font-size:1em; fill:black;'>0,35</text>
    <line x1='160.0' y1='50.0' x2='430.0' y2='50.0' style='stroke:black; stroke-width:1.0;'/>
    <polyline points='170.0,45.0 160.0,50.0 170.0,55.0' fill='black' stroke='black'/>
    <polyline points='420.0,45.0 430.0,50.0 420.0,55.0' fill='black' stroke='black'/>
    <line x1='160.0' y1='60.0' x2='160.0' y2='50.0' style='stroke:green; stroke-width:1.0;opacity:0.5;'/>
    <line x1='430.0' y1='60.0' x2='430.0' y2='50.0' style='stroke:green; stroke-width:1.0;opacity:0.5;'/>
    <text x='295.0' y='48.0' dominant-baseline='text-after-edge' text-anchor='middle' style='font-size:1em; fill:black;'>2,70</text>
    <line x1='50.0' y1='95.0' x2='50.0' y2='325.0' style='stroke:black; stroke-width:1.0;'/>
    <polyline points='50.0,95.0 55.0,105.0 45.0,105.0' fill='black' stroke='black'/>
    <polyline points='45.0,315.0 55.0,315.0 50.0,325.0' fill='black' stroke='black'/>
    <line x1='60.0' y1='95.0' x2='50.0' y2='95.0' style='stroke:green; stroke-width:1.0;opacity:0.5;'/>
    <line x1='60.0' y1='325.0' x2='50.0' y2='325.0' style='stroke:green; stroke-width:1.0;opacity:0.5;'/>
    <text x='48.0' y='210.0' dominant-baseline='middle' text-anchor='end' style='font-size:1em; fill:black;'>2,30</text>
    <line x1='50.0' y1='325.0' x2='50.0' y2='555.0' style='stroke:black; stroke-width:1.0;'/>
    <polyline points='50.0,325.0 55.0,335.0 45.0,335.0' fill='black' stroke='black'/>
    <polyline points='45.0,545.0 55.0,545.0 50.0,555.0' fill='black' stroke='black'/>
    <line x1='60.0' y1='325.0' x2='50.0' y2='325.0' style='stroke:green; stroke-width:1.0;opacity:0.5;'/>
    <line x1='60.0' y1='555.0' x2='50.0' y2='555.0' style='stroke:green; stroke-width:1.0;opacity:0.5;'/>
    <text x='48.0' y='440.0' dominant-baseline='middle' text-anchor='end' style='font-size:1em; fill:black;'>2,30</text>
    <line x1='430.0' y1='50.0' x2='700.0' y2='50.0' style='stroke:black; stroke-width:1.0;'/>
    <polyline points='440.0,45.0 430.0,50.0 440.0,55.0' fill='black' stroke='black'/>
    <polyline points='690.0,45.0 700.0,50.0 690.0,55.0' fill='black' stroke='black'/>
    <line x1='430.0' y1='60.0' x2='430.0' y2='50.0' style='stroke:green; stroke-width:1.0;opacity:0.5;'/>
    <line x1='700.0' y1='60.0' x2='700.0' y2='50.0' style='stroke:green; stroke-width:1.0;opacity:0.5;'/>
    <text x='565.0' y='48.0' dominant-baseline='text-after-edge' text-anchor='middle' style='font-size:1em; fill:black;'>2,70</text>
    <line x1='50.0' y1='95.0' x2='50.0' y2='325.0' style='stroke:black; stroke-width:1.0;'/>
    <polyline points='50.0,95.0 55.0,105.0 45.0,105.0' fill='black' stroke='black'/>
    <polyline points='45.0,315.0 55.0,315.0 50.0,325.0' fill='black' stroke='black'/>
    <line x1='60.0' y1='95.0' x2='50.0' y2='95.0' style='stroke:green; stroke-width:1.0;opacity:0.5;'/>
    <line x1='60.0' y1='325.0' x2='50.0' y2='325.0' style='stroke:green; stroke-width:1.0;opacity:0.5;'/>
    <text x='48.0' y='210.0' dominant-baseline='middle' text-anchor='end' style='font-size:1em; fill:black;'>2,30</text>
    <line x1='50.0' y1='325.0' x2='50.0' y2='555.0' style='stroke:black; stroke-width:1.0;'/>
    <polyline points='50.0,325.0 55.0,335.0 45.0,335.0' fill='black' stroke='black'/>
    <polyline points='45.0,545.0 55.0,545.0 50.0,555.0' fill='black' stroke='black'/>
    <line x1='60.0' y1='325.0' x2='50.0' y2='325.0' style='stroke:green; stroke-width:1.0;opacity:0.5;'/>
    <line x1='60.0' y1='555.0' x2='50.0' y2='555.0' style='stroke:green; stroke-width:1.0;opacity:0.5;'/>
    <text x='48.0' y='440.0' dominant-baseline='middle' text-anchor='end' style='font-size:1em; fill:black;'>2,30</text>
    <rect x='60.0' y='60.0' rx='0.0' ry='0.0' width='400.0' height='300.0' style='fill:none;stroke:black;stroke-width:1.0;' />
    <rect x='146.5' y='81.5' rx='0.0' ry='0.0' width='27.0' height='27.0' style='fill:none;stroke:black;stroke-width:1.0;' />
    <rect x='146.5' y='311.5' rx='0.0' ry='0.0' width='27.0' height='27.0' style='fill:none;stroke:black;stroke-width:1.0;' />
    <rect x='416.5' y='81.5' rx='0.0' ry='0.0' width='27.0' height='27.0' style='fill:none;stroke:black;stroke-width:1.0;' />
    <rect x='416.5' y='311.5' rx='0.0' ry='0.0' width='27.0' height='27.0' style='fill:none;stroke:black;stroke-width:1.0;' />
    <rect x='60.0' y='95.0' rx='0.0' ry='0.0' width='400.0' height='0.0' style='fill:none;stroke:black;stroke-width:1.0;' />
    Sorry your browser does not support inline svg, we cannot show a drawing in this browser.
  </svg>
</div>
</body>
</html>