<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="da">
<head>
  <title>Testpage</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
<div>
  <svg width='845.0' height='665.0'>
    <line x1='60.0' y1='20.0' x2='840.0' y2='20.0' style='stroke:black; stroke-width:1.0;'/>
    <polyline points='70.0,15.0 60.0,20.0 70.0,25.0' fill='black' stroke='black'/>
    <polyline points='830.0,15.0 840.0,20.0 830.0,25.0' fill='black' stroke='black'/>
    <line x1='60.0' y1='60.0' x2='60.0' y2='20.0' style='stroke:green; stroke-width:1.0;opacity:0.5;'/>
    <line x1='840.0' y1='60.0' x2='840.0' y2='20.0' style='stroke:green; stroke-width:1.0;opacity:0.5;'/>
    <text x='450.0' y='18.0' dominant-baseline='text-after-edge' text-anchor='middle' style='font-size:1em; fill:black;'>7,80</text>
    <line x1='20.0' y1='60.0' x2='20.0' y2='660.0' style='stroke:black; stroke-width:1.0;'/>
    <polyline points='20.0,60.0 25.0,70.0 15.0,70.0' fill='black' stroke='black'/>
    <polyline points='15.0,650.0 25.0,650.0 20.0,660.0' fill='black' stroke='black'/>
    <line x1='60.0' y1='60.0' x2='20.0' y2='60.0' style='stroke:green; stroke-width:1.0;opacity:0.5;'/>
    <line x1='60.0' y1='660.0' x2='20.0' y2='660.0' style='stroke:green; stroke-width:1.0;opacity:0.5;'/>
    <text x='18.0' y='360.0' dominant-baseline='middle' text-anchor='end' style='font-size:1em; fill:black;'>6,00</text>
    <line x1='60.0' y1='50.0' x2='160.0' y2='50.0' style='stroke:black; stroke-width:1.0;'/>
    <polyline points='70.0,45.0 60.0,50.0 70.0,55.0' fill='black' stroke='black'/>
    <polyline points='150.0,45.0 160.0,50.0 150.0,55.0' fill='black' stroke='black'/>
    <line x1='60.0' y1='60.0' x2='60.0' y2='50.0' style='stroke:green; stroke-width:1.0;opacity:0.5;'/>
    <line x1='160.0' y1='60.0' x2='160.0' y2='50.0' style='stroke:green; stroke-width:1.0;opacity:0.5;'/>
    <text x='110.0' y='48.0' dominant-baseline='text-after-edge' text-anchor='middle' style='font-size:1em; fill:black;'>1,00</text>
    <line x1='810.0' y1='50.0' x2='840.0' y2='50.0' style='stroke:black; stroke-width:1.0;'/>
    <polyline points='820.0,45.0 810.0,50.0 820.0,55.0' fill='black' stroke='black'/>
    <polyline points='830.0,45.0 840.0,50.0 830.0,55.0' fill='black' stroke='black'/>
    <line x1='810.0' y1='60.0' x2='810.0' y2='50.0' style='stroke:green; stroke-width:1.0;opacity:0.5;'/>
    <line x1='840.0' y1='60.0' x2='840.0' y2='50.0' style='stroke:green; stroke-width:1.0;opacity:0.5;'/>
    <text x='825.0' y='48.0' dominant-baseline='text-after-edge' text-anchor='middle' style='font-size:1em; fill:black;'>0,30</text>
    <line x1='50.0' y1='60.0' x2='50.0' y2='95.0' style='stroke:black; stroke-width:1.0;'/>
    <polyline points='50.0,60.0 55.0,70.0 45.0,70.0' fill='black' stroke='black'/>
    <polyline points='45.0,85.0 55.0,85.0 50.0,95.0' fill='black' stroke='black'/>
    <line x1='60.0' y1='60.0' x2='50.0' y2='60.0' style='stroke:green; stroke-width:1.0;opacity:0.5;'/>
    <line x1='60.0' y1='95.0' x2='50.0' y2='95.0' style='stroke:green; stroke-width:1.0;opacity:0.5;'/>
    <text x='48.0' y='77.5' dominant-baseline='middle' text-anchor='end' style='font-size:1em; fill:black;'>0,35</text>
    <line x1='50.0' y1='625.0' x2='50.0' y2='660.0' style='stroke:black; stroke-width:1.0;'/>
    <polyline points='50.0,625.0 55.0,635.0 45.0,635.0' fill='black' stroke='black'/>
    <polyline points='45.0,650.0 55.0,650.0 50.0,660.0' fill='black' stroke='black'/>
    <line x1='60.0' y1='625.0' x2='50.0' y2='625.0' style='stroke:green; stroke-width:1.0;opacity:0.5;'/>
    <line x1='60.0' y1='660.0' x2='50.0' y2='660.0' style='stroke:green; stroke-width:1.0;opacity:0.5;'/>
    <text x='48.0' y='642.5' dominant-baseline='middle' text-anchor='end' style='font-size:1em; fill:black;'>0,35</text>
    <line x1='160.0' y1='50.0' x2='376.0' y2='50.0' style='stroke:black; stroke-width:1.0;'/>
    <polyline points='170.0,45.0 160.0,50.0 170.0,55.0' fill='black' stroke='black'/>
    <polyline points='366.0,45.0 376.0,50.0 366.0,55.0' fill='black' stroke='black'/>
    <line x1='160.0' y1='60.0' x2='160.0' y2='50.0' style='stroke:green; stroke-width:1.0;opacity:0.5;'/>
    <line x1='376.0' y1='60.0' x2='376.0' y2='50.0' style='stroke:green; stroke-width:1.0;opacity:0.5;'/>
    <text x='268.0' y='48.0' dominant-baseline='text-after-edge' text-anchor='middle' style='font-size:1em; fill:black;'>2,16</text>
    <line x1='50.0' y1='95.0' x2='50.0' y2='625.0' style='stroke:black; stroke-width:1.0;'/>
    <polyline points='50.0,95.0 55.0,105.0 45.0,105.0' fill='black' stroke='black'/>
    <polyline points='45.0,615.0 55.0,615.0 50.0,625.0' fill='black' stroke='black'/>
    <line x1='60.0' y1='95.0' x2='50.0' y2='95.0' style='stroke:green; stroke-width:1.0;opacity:0.5;'/>
    <line x1='60.0' y1='625.0' x2='50.0' y2='625.0' style='stroke:green; stroke-width:1.0;opacity:0.5;'/>
    <text x='48.0' y='360.0' dominant-baseline='middle' text-anchor='end' style='font-size:1em; fill:black;'>5,30</text>
    <line x1='50.0' y1='625.0' x2='50.0' y2='1155.0' style='stroke:black; stroke-width:1.0;'/>
    <polyline points='50.0,625.0 55.0,635.0 45.0,635.0' fill='black' stroke='black'/>
    <polyline points='45.0,1145.0 55.0,1145.0 50.0,1155.0' fill='black' stroke='black'/>
    <line x1='60.0' y1='625.0' x2='50.0' y2='625.0' style='stroke:green; stroke-width:1.0;opacity:0.5;'/>
    <line x1='60.0' y1='1155.0' x2='50.0' y2='1155.0' style='stroke:green; stroke-width:1.0;opacity:0.5;'/>
    <text x='48.0' y='890.0' dominant-baseline='middle' text-anchor='end' style='font-size:1em; fill:black;'>5,30</text>
    <line x1='376.0' y1='50.0' x2='592.0' y2='50.0' style='stroke:black; stroke-width:1.0;'/>
    <polyline points='386.0,45.0 376.0,50.0 386.0,55.0' fill='black' stroke='black'/>
    <polyline points='582.0,45.0 592.0,50.0 582.0,55.0' fill='black' stroke='black'/>
    <line x1='376.0' y1='60.0' x2='376.0' y2='50.0' style='stroke:green; stroke-width:1.0;opacity:0.5;'/>
    <line x1='592.0' y1='60.0' x2='592.0' y2='50.0' style='stroke:green; stroke-width:1.0;opacity:0.5;'/>
    <text x='484.0' y='48.0' dominant-baseline='text-after-edge' text-anchor='middle' style='font-size:1em; fill:black;'>2,16</text>
    <line x1='50.0' y1='95.0' x2='50.0' y2='625.0' style='stroke:black; stroke-width:1.0;'/>
    <polyline points='50.0,95.0 55.0,105.0 45.0,105.0' fill='black' stroke='black'/>
    <polyline points='45.0,615.0 55.0,615.0 50.0,625.0' fill='black' stroke='black'/>
    <line x1='60.0' y1='95.0' x2='50.0' y2='95.0' style='stroke:green; stroke-width:1.0;opacity:0.5;'/>
    <line x1='60.0' y1='625.0' x2='50.0' y2='625.0' style='stroke:green; stroke-width:1.0;opacity:0.5;'/>
    <text x='48.0' y='360.0' dominant-baseline='middle' text-anchor='end' style='font-size:1em; fill:black;'>5,30</text>
    <line x1='50.0' y1='625.0' x2='50.0' y2='1155.0' style='stroke:black; stroke-width:1.0;'/>
    <polyline points='50.0,625.0 55.0,635.0 45.0,635.0' fill='black' stroke='black'/>
    <polyline points='45.0,1145.0 55.0,1145.0 50.0,1155.0' fill='black' stroke='black'/>
    <line x1='60.0' y1='625.0' x2='50.0' y2='625.0' style='stroke:green; stroke-width:1.0;opacity:0.5;'/>
    <line x1='60.0' y1='1155.0' x2='50.0' y2='1155.0' style='stroke:green; stroke-width:1.0;opacity:0.5;'/>
    <text x='48.0' y='890.0' dominant-baseline='middle' text-anchor='end' style='font-size:1em; fill:black;'>5,30</text>
    <line x1='592.0' y1='50.0' x2='808.0' y2='50.0' style='stroke:black; stroke-width:1.0;'/>
    <polyline points='602.0,45.0 592.0,50.0 602.0,55.0' fill='black' stroke='black'/>
    <polyline points='798.0,45.0 808.0,50.0 798.0,55.0' fill='black' stroke='black'/>
    <line x1='592.0' y1='60.0' x2='592.0' y2='50.0' style='stroke:green; stroke-width:1.0;opacity:0.5;'/>
    <line x1='808.0' y1='60.0' x2='808.0' y2='50.0' style='stroke:green; stroke-width:1.0;opacity:0.5;'/>
    <text x='700.0' y='48.0' dominant-baseline='text-after-edge' text-anchor='middle' style='font-size:1em; fill:black;'>2,16</text>
    <line x1='50.0' y1='95.0' x2='50.0' y2='625.0' style='stroke:black; stroke-width:1.0;'/>
    <polyline points='50.0,95.0 55.0,105.0 45.0,105.0' fill='black' stroke='black'/>
    <polyline points='45.0,615.0 55.0,615.0 50.0,625.0' fill='black' stroke='black'/>
    <line x1='60.0' y1='95.0' x2='50.0' y2='95.0' style='stroke:green; stroke-width:1.0;opacity:0.5;'/>
    <line x1='60.0' y1='625.0' x2='50.0' y2='625.0' style='stroke:green; stroke-width:1.0;opacity:0.5;'/>
    <text x='48.0' y='360.0' dominant-baseline='middle' text-anchor='end' style='font-size:1em; fill:black;'>5,30</text>
    <line x1='50.0' y1='625.0' x2='50.0' y2='1155.0' style='stroke:black; stroke-width:1.0;'/>
    <polyline points='50.0,625.0 55.0,635.0 45.0,635.0' fill='black' stroke='black'/>
    <polyline points='45.0,1145.0 55.0,1145.0 50.0,1155.0' fill='black' stroke='black'/>
    <line x1='60.0' y1='625.0' x2='50.0' y2='625.0' style='stroke:green; stroke-width:1.0;opacity:0.5;'/>
    <line x1='60.0' y1='1155.0' x2='50.0' y2='1155.0' style='stroke:green; stroke-width:1.0;opacity:0.5;'/>
    <text x='48.0' y='890.0' dominant-baseline='middle' text-anchor='end' style='font-size:1em; fill:black;'>5,30</text>
    <line x1='808.0' y1='50.0' x2='1024.0' y2='50.0' style='stroke:black; stroke-width:1.0;'/>
    <polyline points='818.0,45.0 808.0,50.0 818.0,55.0' fill='black' stroke='black'/>
    <polyline points='1014.0,45.0 1024.0,50.0 1014.0,55.0' fill='black' stroke='black'/>
    <line x1='808.0' y1='60.0' x2='808.0' y2='50.0' style='stroke:green; stroke-width:1.0;opacity:0.5;'/>
    <line x1='1024.0' y1='60.0' x2='1024.0' y2='50.0' style='stroke:green; stroke-width:1.0;opacity:0.5;'/>
    <text x='916.0' y='48.0' dominant-baseline='text-after-edge' text-anchor='middle' style='font-size:1em; fill:black;'>2,16</text>
    <line x1='50.0' y1='95.0' x2='50.0' y2='625.0' style='stroke:black; stroke-width:1.0;'/>
    <polyline points='50.0,95.0 55.0,105.0 45.0,105.0' fill='black' stroke='black'/>
    <polyline points='45.0,615.0 55.0,615.0 50.0,625.0' fill='black' stroke='black'/>
    <line x1='60.0' y1='95.0' x2='50.0' y2='95.0' style='stroke:green; stroke-width:1.0;opacity:0.5;'/>
    <line x1='60.0' y1='625.0' x2='50.0' y2='625.0' style='stroke:green; stroke-width:1.0;opacity:0.5;'/>
    <text x='48.0' y='360.0' dominant-baseline='middle' text-anchor='end' style='font-size:1em; fill:black;'>5,30</text>
    <line x1='50.0' y1='625.0' x2='50.0' y2='1155.0' style='stroke:black; stroke-width:1.0;'/>
    <polyline points='50.0,625.0 55.0,635.0 45.0,635.0' fill='black' stroke='black'/>
    <polyline points='45.0,1145.0 55.0,1145.0 50.0,1155.0' fill='black' stroke='black'/>
    <line x1='60.0' y1='625.0' x2='50.0' y2='625.0' style='stroke:green; stroke-width:1.0;opacity:0.5;'/>
    <line x1='60.0' y1='1155.0' x2='50.0' y2='1155.0' style='stroke:green; stroke-width:1.0;opacity:0.5;'/>
    <text x='48.0' y='890.0' dominant-baseline='middle' text-anchor='end' style='font-size:1em; fill:black;'>5,30</text>
    <rect x='60.0' y='60.0' rx='0.0' ry='0.0' width='780.0' height='600.0' style='fill:none;stroke:black;stroke-width:1.0;' />
    <rect x='146.5' y='81.5' rx='0.0' ry='0.0' width='27.0' height='27.0' style='fill:none;stroke:black;stroke-width:1.0;' />
    <rect x='146.5' y='611.5' rx='0.0' ry='0.0' width='27.0' height='27.0' style='fill:none;stroke:black;stroke-width:1.0;' />
    <rect x='362.5' y='81.5' rx='0.0' ry='0.0' width='27.0' height='27.0' style='fill:none;stroke:black;stroke-width:1.0;' />
    <rect x='362.5' y='611.5' rx='0.0' ry='0.0' width='27.0' height='27.0' style='fill:none;stroke:black;stroke-width:1.0;' />
    <rect x='578.5' y='81.5' rx='0.0' ry='0.0' width='27.0' height='27.0' style='fill:none;stroke:black;stroke-width:1.0;' />
    <rect x='578.5' y='611.5' rx='0.0' ry='0.0' width='27.0' height='27.0' style='fill:none;stroke:black;stroke-width:1.0;' />
    <rect x='794.5' y='81.5' rx='0.0' ry='0.0' width='27.0' height='27.0' style='fill:none;stroke:black;stroke-width:1.0;' />
    <rect x='794.5' y='611.5' rx='0.0' ry='0.0' width='27.0' height='27.0' style='fill:none;stroke:black;stroke-width:1.0;' />
    Sorry your browser does not support inline svg, we cannot show a drawing in this browser.
  </svg>
</div>
</body>
</html>