<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="da">
<head>
  <title>Testpage</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
<div>
  <svg width='875.0' height='670.0'>
    <line x1='90.0' y1='25.0' x2='870.0' y2='25.0' style='stroke:black; stroke-width:1.0;'/>
    <polyline points='100.0,20.0 90.0,25.0 100.0,30.0' fill='black' stroke='black'/>
    <polyline points='860.0,20.0 870.0,25.0 860.0,30.0' fill='black' stroke='black'/>
    <line x1='90.0' y1='65.0' x2='90.0' y2='25.0' style='stroke:green; stroke-width:1.0;opacity:0.5;'/>
    <line x1='870.0' y1='65.0' x2='870.0' y2='25.0' style='stroke:green; stroke-width:1.0;opacity:0.5;'/>
    <text x='480.0' y='23.0' dominant-baseline='text-after-edge' text-anchor='middle' style='font-size:1em; fill:black;'>7,80</text>
    <line x1='40.0' y1='65.0' x2='40.0' y2='665.0' style='stroke:black; stroke-width:1.0;'/>
    <polyline points='40.0,65.0 45.0,75.0 35.0,75.0' fill='black' stroke='black'/>
    <polyline points='35.0,655.0 45.0,655.0 40.0,665.0' fill='black' stroke='black'/>
    <line x1='90.0' y1='65.0' x2='40.0' y2='65.0' style='stroke:green; stroke-width:1.0;opacity:0.5;'/>
    <line x1='90.0' y1='665.0' x2='40.0' y2='665.0' style='stroke:green; stroke-width:1.0;opacity:0.5;'/>
    <text x='38.0' y='365.0' dominant-baseline='middle' text-anchor='end' style='font-size:1em; fill:black;'>6,00</text>
    <line x1='90.0' y1='55.0' x2='190.0' y2='55.0' style='stroke:black; stroke-width:1.0;'/>
    <polyline points='100.0,50.0 90.0,55.0 100.0,60.0' fill='black' stroke='black'/>
    <polyline points='180.0,50.0 190.0,55.0 180.0,60.0' fill='black' stroke='black'/>
    <line x1='90.0' y1='65.0' x2='90.0' y2='55.0' style='stroke:green; stroke-width:1.0;opacity:0.5;'/>
    <line x1='190.0' y1='65.0' x2='190.0' y2='55.0' style='stroke:green; stroke-width:1.0;opacity:0.5;'/>
    <text x='140.0' y='53.0' dominant-baseline='text-after-edge' text-anchor='middle' style='font-size:1em; fill:black;'>1,00</text>
    <line x1='80.0' y1='65.0' x2='80.0' y2='100.0' style='stroke:black; stroke-width:1.0;'/>
    <polyline points='80.0,65.0 85.0,75.0 75.0,75.0' fill='black' stroke='black'/>
    <polyline points='75.0,90.0 85.0,90.0 80.0,100.0' fill='black' stroke='black'/>
    <line x1='90.0' y1='65.0' x2='80.0' y2='65.0' style='stroke:green; stroke-width:1.0;opacity:0.5;'/>
    <line x1='90.0' y1='100.0' x2='80.0' y2='100.0' style='stroke:green; stroke-width:1.0;opacity:0.5;'/>
    <text x='78.0' y='82.5' dominant-baseline='middle' text-anchor='end' style='font-size:1em; fill:black;'>0,35</text>
    <line x1='190.0' y1='55.0' x2='406.6667' y2='55.0' style='stroke:black; stroke-width:1.0;'/>
    <polyline points='200.0,50.0 190.0,55.0 200.0,60.0' fill='black' stroke='black'/>
    <polyline points='396.6667,50.0 406.6667,55.0 396.6667,60.0' fill='black' stroke='black'/>
    <line x1='190.0' y1='65.0' x2='190.0' y2='55.0' style='stroke:green; stroke-width:1.0;opacity:0.5;'/>
    <line x1='406.6667' y1='65.0' x2='406.6667' y2='55.0' style='stroke:green; stroke-width:1.0;opacity:0.5;'/>
    <text x='298.33334' y='53.0' dominant-baseline='text-after-edge' text-anchor='middle' style='font-size:1em; fill:black;'>2,17</text>
    <line x1='80.0' y1='100.0' x2='80.0' y2='630.0' style='stroke:black; stroke-width:1.0;'/>
    <polyline points='80.0,100.0 85.0,110.0 75.0,110.0' fill='black' stroke='black'/>
    <polyline points='75.0,620.0 85.0,620.0 80.0,630.0' fill='black' stroke='black'/>
    <line x1='90.0' y1='100.0' x2='80.0' y2='100.0' style='stroke:green; stroke-width:1.0;opacity:0.5;'/>
    <line x1='90.0' y1='630.0' x2='80.0' y2='630.0' style='stroke:green; stroke-width:1.0;opacity:0.5;'/>
    <text x='78.0' y='365.0' dominant-baseline='middle' text-anchor='end' style='font-size:1em; fill:black;'>5,30</text>
    <line x1='80.0' y1='630.0' x2='80.0' y2='665.0' style='stroke:black; stroke-width:1.0;'/>
    <polyline points='80.0,630.0 85.0,640.0 75.0,640.0' fill='black' stroke='black'/>
    <polyline points='75.0,655.0 85.0,655.0 80.0,665.0' fill='black' stroke='black'/>
    <line x1='90.0' y1='630.0' x2='80.0' y2='630.0' style='stroke:green; stroke-width:1.0;opacity:0.5;'/>
    <line x1='90.0' y1='665.0' x2='80.0' y2='665.0' style='stroke:green; stroke-width:1.0;opacity:0.5;'/>
    <text x='78.0' y='647.5' dominant-baseline='middle' text-anchor='end' style='font-size:1em; fill:black;'>0,35</text>
    <line x1='406.6667' y1='55.0' x2='623.3334' y2='55.0' style='stroke:black; stroke-width:1.0;'/>
    <polyline points='416.6667,50.0 406.6667,55.0 416.6667,60.0' fill='black' stroke='black'/>
    <polyline points='613.3334,50.0 623.3334,55.0 613.3334,60.0' fill='black' stroke='black'/>
    <line x1='406.6667' y1='65.0' x2='406.6667' y2='55.0' style='stroke:green; stroke-width:1.0;opacity:0.5;'/>
    <line x1='623.3334' y1='65.0' x2='623.3334' y2='55.0' style='stroke:green; stroke-width:1.0;opacity:0.5;'/>
    <text x='515.0' y='53.0' dominant-baseline='text-after-edge' text-anchor='middle' style='font-size:1em; fill:black;'>2,17</text>
    <line x1='80.0' y1='100.0' x2='80.0' y2='630.0' style='stroke:black; stroke-width:1.0;'/>
    <polyline points='80.0,100.0 85.0,110.0 75.0,110.0' fill='black' stroke='black'/>
    <polyline points='75.0,620.0 85.0,620.0 80.0,630.0' fill='black' stroke='black'/>
    <line x1='90.0' y1='100.0' x2='80.0' y2='100.0' style='stroke:green; stroke-width:1.0;opacity:0.5;'/>
    <line x1='90.0' y1='630.0' x2='80.0' y2='630.0' style='stroke:green; stroke-width:1.0;opacity:0.5;'/>
    <text x='78.0' y='365.0' dominant-baseline='middle' text-anchor='end' style='font-size:1em; fill:black;'>5,30</text>
    <line x1='80.0' y1='630.0' x2='80.0' y2='665.0' style='stroke:black; stroke-width:1.0;'/>
    <polyline points='80.0,630.0 85.0,640.0 75.0,640.0' fill='black' stroke='black'/>
    <polyline points='75.0,655.0 85.0,655.0 80.0,665.0' fill='black' stroke='black'/>
    <line x1='90.0' y1='630.0' x2='80.0' y2='630.0' style='stroke:green; stroke-width:1.0;opacity:0.5;'/>
    <line x1='90.0' y1='665.0' x2='80.0' y2='665.0' style='stroke:green; stroke-width:1.0;opacity:0.5;'/>
    <text x='78.0' y='647.5' dominant-baseline='middle' text-anchor='end' style='font-size:1em; fill:black;'>0,35</text>
    <line x1='623.3334' y1='55.0' x2='840.00006' y2='55.0' style='stroke:black; stroke-width:1.0;'/>
    <polyline points='633.3334,50.0 623.3334,55.0 633.3334,60.0' fill='black' stroke='black'/>
    <polyline points='830.00006,50.0 840.00006,55.0 830.00006,60.0' fill='black' stroke='black'/>
    <line x1='623.3334' y1='65.0' x2='623.3334' y2='55.0' style='stroke:green; stroke-width:1.0;opacity:0.5;'/>
    <line x1='840.00006' y1='65.0' x2='840.00006' y2='55.0' style='stroke:green; stroke-width:1.0;opacity:0.5;'/>
    <text x='731.6667' y='53.0' dominant-baseline='text-after-edge' text-anchor='middle' style='font-size:1em; fill:black;'>2,17</text>
    <line x1='80.0' y1='100.0' x2='80.0' y2='630.0' style='stroke:black; stroke-width:1.0;'/>
    <polyline points='80.0,100.0 85.0,110.0 75.0,110.0' fill='black' stroke='black'/>
    <polyline points='75.0,620.0 85.0,620.0 80.0,630.0' fill='black' stroke='black'/>
    <line x1='90.0' y1='100.0' x2='80.0' y2='100.0' style='stroke:green; stroke-width:1.0;opacity:0.5;'/>
    <line x1='90.0' y1='630.0' x2='80.0' y2='630.0' style='stroke:green; stroke-width:1.0;opacity:0.5;'/>
    <text x='78.0' y='365.0' dominant-baseline='middle' text-anchor='end' style='font-size:1em; fill:black;'>5,30</text>
    <line x1='80.0' y1='630.0' x2='80.0' y2='665.0' style='stroke:black; stroke-width:1.0;'/>
    <polyline points='80.0,630.0 85.0,640.0 75.0,640.0' fill='black' stroke='black'/>
    <polyline points='75.0,655.0 85.0,655.0 80.0,665.0' fill='black' stroke='black'/>
    <line x1='90.0' y1='630.0' x2='80.0' y2='630.0' style='stroke:green; stroke-width:1.0;opacity:0.5;'/>
    <line x1='90.0' y1='665.0' x2='80.0' y2='665.0' style='stroke:green; stroke-width:1.0;opacity:0.5;'/>
    <text x='78.0' y='647.5' dominant-baseline='middle' text-anchor='end' style='font-size:1em; fill:black;'>0,35</text>
    <line x1='840.00006' y1='55.0' x2='870.0' y2='55.0' style='stroke:black; stroke-width:1.0;'/>
    <polyline points='850.00006,50.0 840.00006,55.0 850.00006,60.0' fill='black' stroke='black'/>
    <polyline points='860.0,50.0 870.0,55.0 860.0,60.0' fill='black' stroke='black'/>
    <line x1='840.00006' y1='65.0' x2='840.00006' y2='55.0' style='stroke:green; stroke-width:1.0;opacity:0.5;'/>
    <line x1='870.0' y1='65.0' x2='870.0' y2='55.0' style='stroke:green; stroke-width:1.0;opacity:0.5;'/>
    <text x='855.0' y='53.0' dominant-baseline='text-after-edge' text-anchor='middle' style='font-size:1em; fill:black;'>0,30</text>
    <line x1='80.0' y1='100.0' x2='80.0' y2='630.0' style='stroke:black; stroke-width:1.0;'/>
    <polyline points='80.0,100.0 85.0,110.0 75.0,110.0' fill='black' stroke='black'/>
    <polyline points='75.0,620.0 85.0,620.0 80.0,630.0' fill='black' stroke='black'/>
    <line x1='90.0' y1='100.0' x2='80.0' y2='100.0' style='stroke:green; stroke-width:1.0;opacity:0.5;'/>
    <line x1='90.0' y1='630.0' x2='80.0' y2='630.0' style='stroke:green; stroke-width:1.0;opacity:0.5;'/>
    <text x='78.0' y='365.0' dominant-baseline='middle' text-anchor='end' style='font-size:1em; fill:black;'>5,30</text>
    <line x1='80.0' y1='630.0' x2='80.0' y2='665.0' style='stroke:black; stroke-width:1.0;'/>
    <polyline points='80.0,630.0 85.0,640.0 75.0,640.0' fill='black' stroke='black'/>
    <polyline points='75.0,655.0 85.0,655.0 80.0,665.0' fill='black' stroke='black'/>
    <line x1='90.0' y1='630.0' x2='80.0' y2='630.0' style='stroke:green; stroke-width:1.0;opacity:0.5;'/>
    <line x1='90.0' y1='665.0' x2='80.0' y2='665.0' style='stroke:green; stroke-width:1.0;opacity:0.5;'/>
    <text x='78.0' y='647.5' dominant-baseline='middle' text-anchor='end' style='font-size:1em; fill:black;'>0,35</text>
    <rect x='90.0' y='65.0' rx='0.0' ry='0.0' width='780.0' height='600.0' style='fill:none;stroke:black;stroke-width:1.0;' />
    <rect x='176.5' y='86.5' rx='0.0' ry='0.0' width='27.0' height='27.0' style='fill:none;stroke:black;stroke-width:1.0;' />
    <rect x='176.5' y='616.5' rx='0.0' ry='0.0' width='27.0' height='27.0' style='fill:none;stroke:black;stroke-width:1.0;' />
    <rect x='393.1667' y='86.5' rx='0.0' ry='0.0' width='27.0' height='27.0' style='fill:none;stroke:black;stroke-width:1.0;' />
    <rect x='393.1667' y='616.5' rx='0.0' ry='0.0' width='27.0' height='27.0' style='fill:none;stroke:black;stroke-width:1.0;' />
    <rect x='609.8334' y='86.5' rx='0.0' ry='0.0' width='27.0' height='27.0' style='fill:none;stroke:black;stroke-width:1.0;' />
    <rect x='609.8334' y='616.5' rx='0.0' ry='0.0' width='27.0' height='27.0' style='fill:none;stroke:black;stroke-width:1.0;' />
    <rect x='826.50006' y='86.5' rx='0.0' ry='0.0' width='27.0' height='27.0' style='fill:none;stroke:black;stroke-width:1.0;' />
    <rect x='826.50006' y='616.5' rx='0.0' ry='0.0' width='27.0' height='27.0' style='fill:none;stroke:black;stroke-width:1.0;' />
    <rect x='90.0' y='95.0' rx='0.0' ry='0.0' width='780.0' height='10.0' style='fill:none;stroke:black;stroke-width:1.0;' />
    <rect x='90.0' y='625.0' rx='0.0' ry='0.0' width='780.0' height='10.0' style='fill:none;stroke:black;stroke-width:1.0;' />
    Sorry your browser does not support inline svg, we cannot show a drawing in this browser.
  </svg>
</div>
</body>
</html>